.responsive{

    max-width: 100%;
    height: auto;
    
    background-size: contain;
    background-repeat: no-repeat;
}

#one{
    margin-bottom: 20px;
    height: auto;
    display: block;
    max-width: 100%;
}
.container0{
    width: 90%;
    margin: auto;

    margin-top: 6vh;
    height: auto;
}
.row{
    display: flex;
    justify-content: space-between;
}

.columns{
    
    width: 31%;
    background-color: #f5f5f5;
    justify-content: center;
    align-items: stretch;
    height: auto;
}

.thumb{
    font-size: 2.5em;
    margin-bottom: 0.5em;
    background-color: #3cadd4;
    height: 3.25em;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.major {
    display: flex;
    align-items: center;
    justify-content: center;
}

.major h2{
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Yeseva One', cursive;
    font-size: 3em;
}

.sub_container{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;

}

.box{
    height: 400px;
    padding: 1.5em;
}

.box p{
    text-align: justify;
}

.box h3{
    text-align: center;
}

.branch_img{
    border-radius: 5%;
    margin-bottom: 1em;
    margin-right: 1em;
    width: 100%;
    height: 300px;
}


.container1{
    width: 80%;
    margin: auto;
    margin-top: 6vh;
}

.bot_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;
    align-items: center;

}


.columns1{
    width: 23%;
    margin: 0;
    margin-bottom: 6vh;
    text-align: center;
}

.sub{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 1200px ) {
    .columns1{
        width: 30%;
        margin: 0;
    }
  }
@media only screen and (max-width: 850px) {
    .sub_container{
        display: block;
        align-items: center;
    }
    .columns{
        width: 75%;
        margin: auto;
        margin-bottom: 20px;
    }
    .columns1{
        width: 45%;
        margin: auto;
    }
  }
  @media only screen and (max-width: 550px) {

    .columns1{
        width: 85%;
        margin: auto;
    }
  }















#footer {
    background: #383b43;
    padding: 6em 0em 4em;
    margin-top: 6vh;
}

    #footer h2, #footer h3, #footer h4 {
        color: #ffffff;
    }

    #footer p, #footer a, #footer li {
        color: #cdced0;
    }

    #footer .links {
        border-bottom: 1px solid rgba(144, 144, 144, 0.25);
        margin-bottom: 4em;
        padding-bottom: 1em;
    }

    #footer .copyright {
        margin-top: 0.65em;
        padding: 0;
    }

        #footer .copyright li {
            color: #858585;
            display: inline-block;
            list-style: none;
            margin-left: 0.5em;
            padding-left: 0.5em;
        }

            #footer .copyright li:first-child {
                margin-left: 0;
                padding-left: 0;
            }

        #footer .copyright a {
            color: #858585;
        }

    #footer .icons {
        text-align: right;
    }

    #footer a.icon {
        color: #ffffff;
        font-size: 0.65em;
        height: 4em;
        line-height: 4em;
        width: 4em;
        cursor: pointer;
    }
