
.main_container{
    display: flex;
}
.sidebar{
    display: flex;
    flex: 0.17;
    text-decoration: none;
    transition: all 0.3s;
    
}
.show_content{
    padding-top: 20px;
    display: flex;
    flex: 0.83;
}
.wrapper{
    width: 100%;
    text-decoration: none;
    transition: all 0.3s;
}
a,
a:hover,
a:focus{
    color: inherit;
}
#sidebar{
    padding-top: 20px;
    height: 100%;
    background: #7386D5;
    color: #fff;
    font-size: 15px;
    transition: all 0.3s;
}
#sidebar > ul {
    padding-inline-start: 15px;
    list-style-type: none;
}
#sidebar > ul >li{
    padding-right: 1vw;
    padding-top: 2vh;
}
